@use "@didor/styles/scss" as * with ($config: (useBase: true,
    useReset: true,
    prefix: '',
    css-variables: true,
    utility-class: true,
    excludes: (),
    includes: (),
    responsive: true,
    important: true,
    hover: true,
    medias: (palm, lap, small, desk, large),
    font-families: (body: ("Source Sans Pro", Helvetica Neue, Arial, sans-serif),
      header: ("Source Sans Pro", Helvetica Neue, Arial, sans-serif),
      mono: ("Fira Code", "Courier New", Courier, monospace),
    )));
